---
const {frontmatter} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="generator" content={Astro.generator} />
		<meta id="section" content={frontmatter.section} />
		<link 
			rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" 
			integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
			crossorigin="anonymous"
		/>
    <title>{frontmatter.title}</title>
	</head>
	<body>
		<div class="markdown-content">
			<slot />
		<div>
	</body>
</html>

<style>
.markdown-content {
	width: 75%;
	margin: auto;
}
</style>

<script>
  const section = document.getElementById('section');
  const elements = document.getElementsByClassName('math-numbering');
  Array.prototype.forEach.call(elements, (element, index) => 
    element.innerText = `${element.innerText} ${section?.attributes[1].value}.${index + 1}`
  );
</script>

