---
import Footer from '../components/site/Footer';
import SideNavigation from '../components/site/SideNavigation';
import TableofContents from '../components/site/TableofContents';
import TopNavigation from '../components/site/TopNavigation';
import BackButton from '../components/link/BackButton';
import { WebsiteTitle } from '../utils/constants';
import '../styles/global.css';


const { frontmatter, headings } = Astro.props;
const allTopPosts = await Astro.glob('../pages/*.mdx');
const posts = allTopPosts.filter((post) => post.frontmatter.section !== 1);
const title = frontmatter.title !== "index" ? `${frontmatter.title} | ${WebsiteTitle}` : `${WebsiteTitle}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="generator" content={Astro.generator} />
    <meta id="section" content={frontmatter.section} />
    <link rel="shortcut icon" href={`${import.meta.env.SITE}${import.meta.env.BASE_URL}/favicon.ico`}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link 
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <title>{title}</title>
  </head>
  <body>
    <TopNavigation />
    <div class="note">
      <aside class="sidebar">
        <SideNavigation posts={posts} currentPath={Astro.url.pathname}/>
        <BackButton href={`${import.meta.env.SITE}`}/>
      </aside>
      <div class="markdown-content">
        <slot />
      </div>
      <aside class="table-of-contents">
        <TableofContents headings={headings} />
      </aside>
    </div>
    <Footer />
  </body>
</html>

<style>
.note {
  display: flex;
}

.sidebar {
  width: 20%;
  padding: 10px;
  position: sticky;
  align-self: flex-start;
  top: 0;
}

.markdown-content {
  width: 60%;
  padding: 10px;
}

.table-of-contents {
  width: 20%;
  padding: 10px;
  position: sticky;
  align-self: flex-start;
  top: 0;
}
</style>
